@media all and (max-width: 1300px) {
  .main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .main .additionalSettings {
    height: 0;
    width: calc(26.25cm);
    transition-property: border, height;
  }

  .main .additionalSettings.active {
    position: static;
    width: calc(26.25cm);
    height: 840px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .additionalSettings .controlButtons {
    display: none;
  }

  header .panel .buttons {
    width: 85%;
  }
}