#circle {
  width: 8vh;
  height: 8vh;
  border-radius: 200px;
  background: gray;
  z-index: 4;
  background-image: url('../img/d20.png');
  background-repeat: no-repeat;
  background-size: 100%;
  transition: 0.7s;
  cursor: pointer;
}

#circle:hover {
  background-color: lightgray;
}

#circle.start {
  animation: bigToSmall 0.7s;
  animation-timing-function: cubic-bezier(.32,-0.1,.79,1.14);
  animation-iteration-count:1;
  animation-fill-mode: forwards;
}

#circle.revers{
  animation: SmallToBig 0.7s;
  animation-timing-function: cubic-bezier(.32,-0.1,.79,1.14);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#circleContent {
  width: 8vh;
  height: 8vh;
  z-index: 10;
}


@keyframes bigToSmall {
  0% {
    width: 8vh;
    height: 8vh;
  }
  25% {
    -webkit-transform: rotate(360deg);
    width: 8vh;
    height: 8vh;
  }
  50% {
    -webkit-transform: rotate(360deg);
    width: 0;
    height: 0;
  }
  100% {
    top: 90vh;
    left: 90%;
    width: 8vh;
    height: 8vh;
    position: fixed;  
  }   
} 

@keyframes SmallToBig {
  0% {
    top: 90vh;
    left: 90%;
    -webkit-transform: rotate(360deg);
    position: fixed;  
  }
  25% {
    -webkit-transform: rotate(360deg);
    width: 50px;
    height: 50px;
  }
  50% {
    -webkit-transform: rotate(360deg);
    width: 0;
    height: 0;
  }
  100% {
    position: static;
    width: 8vh;
    height: 8vh;
  }   
} 
